/* Imported Google Font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,600&family=Jost:wght@500&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color:  rgb(154, 44, 166);
    text-align: center;
    margin: 0;
    padding: 20px;
}

#question-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 40px;
}

#choice-container { 
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.choice {
    margin: 10px;
}

.choice-text {
    font-size: 3rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, rgb(250, 254, 6) 0%, rgb(238, 255, 0) 100%);
    border-radius: 4px;
}

.choice-text:hover {
    background-color: #e9e9e9;
}

#progress {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
}

#progressBar {
    background-color: #ccc;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#progressBarTracker {
    height: 100%;
    background-color: rgb(21, 223, 238);
}
.choice.correct .choice-text {
    background-color: green;
}

.choice.incorrect .choice-text {
    background-color: red;
}

.progress_bar {
    width: 100%;
    max-width: 600px;
}
.fa-moon {
    font-size: 6rem;
    margin-left: 1rem;
 }
 h1 {
    font-size: 7rem;
    color:rgb(255, 249, 199);
    margin-bottom: 5rem;
    margin-top: 20rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Chakra Petch', bold;
}
.choice-text:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(232, 221, 5);
    transition: transform 150ms;
    transform: scale(1.03);
}
.choice-text[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
#scoreText {
    font-size:36px; 
}