
/* Imported Google Font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,600&family=Jost:wght@500&display=swap');

:root {
    background-color: rgb(154, 44, 166);
}
*{
    font-family: 'Chakra Petch', bold;
}
h1 {
    justify-content: center;
    display: flex;
    font-size: 6rem;
    color: rgb(244, 216, 182);
}
.fa-moon {
    margin-left: 1rem;
}
.fa-star {
    margin-left: 1rem;
    margin-right: 1rem;
}
h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}
.btn {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem 0;
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 20rem;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, rgb(250, 254, 6) 0%, rgb(238, 255, 0) 100%);
    border-radius: 4px;
}
/* Added animation to button when hovering */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(232, 221, 5);
    transition: transform 150ms;
    transform: scale(1.03);
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
.correct {
    background: linear-gradient(32deg, rgb(39, 247, 230) 0%, rgb(51, 254, 227) 100%);
    color:white;
    font-style: bold;
}
.incorrect {
    background: linear-gradient(32deg rgba(230, 29, 29, 1)0%, rgb(224, 11, 11, 1) 100%);
    font-style: bold;
}